#WELCOME TO THE PANDAS TUTORIAL

In [1]:
import pandas as pd

lst=[2,4,6,8,10]
lst

[2, 4, 6, 8, 10]

In [4]:
service = pd.Series(lst) #Series provides a 1-d column i.e converts array into column.
print(service)
print(type(service))

0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
data = pd.Series(['p','q','r','s'], index = [10,11,12,13],name = "alpha")
data

10    p
11    q
12    r
13    s
Name: alpha, dtype: object

In [7]:
dict_series = pd.Series({'p':[1,5,6], 'q': [2,4,6], 'r':[34,5]})
dict_series

p    [1, 5, 6]
q    [2, 4, 6]
r      [34, 5]
dtype: object

In [5]:
lst = [[1,2,3,4,5],[6,7,8,9,10],[6,7,8]]
seriesdf = pd.DataFrame(lst)
seriesdf

   0  1  2    3     4
0  1  2  3  4.0   5.0
1  6  7  8  9.0  10.0
2  6  7  8  NaN   NaN

In [6]:
lst = [1,2,3,4,5]
seriesdf = pd.DataFrame(lst)
seriesdf

   0
0  1
1  2
2  3
3  4
4  5

In [8]:
a = [{'a': 4 , 'b':5 , 'c': 6},{'a':56, 'b':57}]
seriesdf = pd.DataFrame(a)
seriesdf

    a   b    c
0   4   5  6.0
1  56  57  NaN

In [3]:
dataset = pd.read_csv(r'C:\Users\Asus\Desktop\ML/boston.csv')
dataset

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [5]:
dataset.shape

(506, 14)

In [6]:
dataset.size

7084

In [7]:
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [8]:
dataset.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [9]:
dataset.tail(4)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [10]:
dataset.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

#Finding the missing values

In [12]:
dataset.isnull()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,False,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
dataset.isnull().sum() #sum()gives you the sum of the null values in each column....... .sum().sum() will give you the total sum of the null values

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [2]:
ds2 = pd.read_csv('bost.csv')
ds2

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,NaN,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,NaN,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,NaN,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0.0,0.524,NaN,66.6,5.5605,5.0,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0.0,NaN,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,NaN,27.1
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,NaN,5.0,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0.0,0.524,NaN,85.9,6.5921,5.0,311.0,15.2,386.71,17.10,18.9
10,0.22489,12.5,7.87,0.0,0.524,6.377,94.3,6.3467,5.0,311.0,15.2,392.52,20.45,NaN
11,0.11747,12.5,7.87,0.0,0.524,6.009,82.9,6.2267,5.0,311.0,15.2,396.90,13.27,18.9
12,0.09378,12.5,7.87,0.0,0.524,NaN,39.0,5.4509,5.0,311.0,15.2,390.50,15.71,21.7
13,0.62976,0.0,8.14,0.0,0.538,5.949,61.8,4.7075,4.0,307.0,21.0,396.90,8.26,20.4
14,0.63796,0.0,8.14,0.0,NaN,6.096,84.5,4.4619,4.0,307.0,21.0,380.02,10.26,18.2
15,0.62739,0.0,8.14,0.0,0.538,5.834,56.5,4.4986,NaN,307.0,21.0,395.62,8.47,19.9
16,1.05393,0.0,8.14,0.0,0.538,5.935,29.3,4.4986,4.0,307.0,NaN,386.85,6.58,23.1
17,0.78420,0.0,8.14,0.0,0.538,5.990,81.7,4.2579,4.0,307.0,21.0,NaN,14.67,17.5
18,0.80271,0.0,8.14,0.0,0.538,5.456,36.6,3.7965,4.0,307.0,21.0,288.99,11.69,20.2
19,0.72580,0.0,8.14,0.0,0.538,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28,18.2
20,1.25179,0.0,8.14,0.0,0.538,5.570,NaN,3.7979,4.0,307.0,21.0,376.57,21.02,NaN
21,0.85204,0.0,8.14,0.0,0.538,5.965,NaN,4.0123,4.0,307.0,21.0,392.53,13.83,19.6
22,1.23247,0.0,8.14,0.0,0.538,6.142,91.7,3.9769,4.0,NaN,21.0,396.90,18.72,15.2
23,0.98843,0.0,8.14,0.0,0.538,NaN,100.0,4.0952,4.0,307.0,21.0,394.54,19.88,14.5
24,0.75026,0.0,8.14,0.0,0.538,5.924,94.1,4.3996,NaN,307.0,21.0,394.33,NaN,15.6
25,0.84054,0.0,NaN,NaN,0.538,5.599,85.7,4.4546,4.0,307.0,21.0,303.42,16.51,13.9
26,0.67191,0.0,8.14,0.0,0.538,5.813,90.3,4.6820,4.0,307.0,21.0,376.88,14.81,16.6
27,0.95577,0.0,8.14,0.0,0.538,6.047,88.8,4.4534,4.0,307.0,21.0,306.38,17.28,14.8
28,0.77299,0.0,8.14,0.0,0.538,6.495,94.4,4.4547,4.0,307.0,21.0,387.94,12.80,18.4
29,1.00245,0.0,8.14,0.0,0.538,6.674,87.3,4.2390,4.0,307.0,21.0,380.23,11.98,21.0
30,1.13081,0.0,8.14,0.0,0.538,5.713,94.1,4.2330,4.0,307.0,21.0,360.17,22.60,12.7
31,1.35472,0.0,8.14,0.0,0.538,6.072,100.0,4.1750,4.0,307.0,21.0,376.73,13.04,14.5
32,1.38799,0.0,8.14,0.0,0.538,5.950,82.0,3.9900,4.0,307.0,21.0,232.60,27.71,13.2
33,1.15172,0.0,8.14,0.0,0.538,5.701,95.0,3.7872,4.0,307.0,21.0,358.77,18.35,13.1
34,1.61282,0.0,8.14,0.0,0.538,6.096,96.9,3.7598,4.0,307.0,21.0,248.31,20.34,13.5
35,0.06417,0.0,5.96,0.0,0.499,5.933,68.2,3.3603,5.0,279.0,19.2,396.90,9.68,18.9
36,0.09744,0.0,5.96,0.0,0.499,5.841,61.4,3.3779,5.0,279.0,19.2,377.56,11.41,20.0
37,0.08014,0.0,5.96,0.0,0.499,5.850,41.5,3.9342,5.0,279.0,19.2,396.90,8.77,21.0
38,0.17505,0.0,5.96,0.0,0.499,5.966,30.2,3.8473,5.0,279.0,19.2,393.43,10.13,24.7
39,0.02763,75.0,2.95,0.0,0.428,6.595,21.8,5.4011,3.0,252.0,18.3,395.63,4.32,30.8
40,0.03359,75.0,2.95,0.0,0.428,7.024,15.8,5.4011,3.0,252.0,18.3,395.62,1.98,34.9
41,0.12744,0.0,6.91,0.0,0.448,6.770,2.9,5.7209,3.0,233.0,17.9,385.41,4.84,26.6
42,0.14150,0.0,6.91,0.0,0.448,6.169,6.6,5.7209,3.0,233.0,17.9,383.37,5.81,25.3
43,0.15936,0.0,6.91,0.0,0.448,6.211,6.5,5.7209,3.0,233.0,17.9,394.46,7.44,24.7
44,0.12269,0.0,6.91,0.0,0.448,6.069,40.0,5.7209,3.0,233.0,17.9,389.39,9.55,21.2
45,0.17142,0.0,6.91,0.0,0.448,5.682,33.8,5.1004,3.0,233.0,17.9,396.90,10.21,19.3
46,0.18836,0.0,6.91,0.0,0.448,5.786,33.3,5.1004,3.0,233.0,17.9,396.90,14.15,20.0
47,0.22927,0.0,6.91,0.0,0.448,6.030,85.5,5.6894,3.0,233.0,17.9,392.74,18.80,16.6
48,0.25387,0.0,6.91,0.0,0.448,5.399,95.3,5.8700,3.0,233.0,17.9,396.90,30.81,14.4

In [31]:
ds2.shape

(49, 14)

In [28]:

ds2.isnull().sum().sum()

23

In [29]:
df2 = ds2.dropna()

In [30]:
df2.shape

(30, 14)

In [35]:
df2= ds2.dropna(axis = 1) #removes the column with the null values in it .
#axis 0 means that the column has to be removed from the datasheet. BY default the axis is 0 it means that the rows are to be eliminated from the data sheet,
#but when the axis has to be removed then the axis has to be made 1.

In [36]:
df2.shape

(49, 2)

In [42]:
df2 = ds2.dropna(axis = 1)

In [41]:
df2.shape

(49, 2)

Filling the null vlaues

In [45]:
df2 = ds2.fillna(9999) #.fillna fills the empty 
#column values and insert the desired value given in the brackets.
df2

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,9999.000,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,9999.0000,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,9999.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0.0,0.524,9999.000,66.6,5.5605,5.0,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0.0,9999.000,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,9999.00,27.1
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,9999.0000,5.0,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0.0,0.524,9999.000,85.9,6.5921,5.0,311.0,15.2,386.71,17.10,18.9
10,0.22489,12.5,7.87,0.0,0.524,6.377,94.3,6.3467,5.0,311.0,15.2,392.52,20.45,9999.0
11,0.11747,12.5,7.87,0.0,0.524,6.009,82.9,6.2267,5.0,311.0,15.2,396.90,13.27,18.9
12,0.09378,12.5,7.87,0.0,0.524,9999.000,39.0,5.4509,5.0,311.0,15.2,390.50,15.71,21.7
13,0.62976,0.0,8.14,0.0,0.538,5.949,61.8,4.7075,4.0,307.0,21.0,396.90,8.26,20.4
14,0.63796,0.0,8.14,0.0,9999.000,6.096,84.5,4.4619,4.0,307.0,21.0,380.02,10.26,18.2
15,0.62739,0.0,8.14,0.0,0.538,5.834,56.5,4.4986,9999.0,307.0,21.0,395.62,8.47,19.9
16,1.05393,0.0,8.14,0.0,0.538,5.935,29.3,4.4986,4.0,307.0,9999.0,386.85,6.58,23.1
17,0.78420,0.0,8.14,0.0,0.538,5.990,81.7,4.2579,4.0,307.0,21.0,9999.00,14.67,17.5
18,0.80271,0.0,8.14,0.0,0.538,5.456,36.6,3.7965,4.0,307.0,21.0,288.99,11.69,20.2
19,0.72580,0.0,8.14,0.0,0.538,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28,18.2
20,1.25179,0.0,8.14,0.0,0.538,5.570,9999.0,3.7979,4.0,307.0,21.0,376.57,21.02,9999.0
21,0.85204,0.0,8.14,0.0,0.538,5.965,9999.0,4.0123,4.0,307.0,21.0,392.53,13.83,19.6
22,1.23247,0.0,8.14,0.0,0.538,6.142,91.7,3.9769,4.0,9999.0,21.0,396.90,18.72,15.2
23,0.98843,0.0,8.14,0.0,0.538,9999.000,100.0,4.0952,4.0,307.0,21.0,394.54,19.88,14.5
24,0.75026,0.0,8.14,0.0,0.538,5.924,94.1,4.3996,9999.0,307.0,21.0,394.33,9999.00,15.6
25,0.84054,0.0,9999.00,9999.0,0.538,5.599,85.7,4.4546,4.0,307.0,21.0,303.42,16.51,13.9
26,0.67191,0.0,8.14,0.0,0.538,5.813,90.3,4.6820,4.0,307.0,21.0,376.88,14.81,16.6
27,0.95577,0.0,8.14,0.0,0.538,6.047,88.8,4.4534,4.0,307.0,21.0,306.38,17.28,14.8
28,0.77299,0.0,8.14,0.0,0.538,6.495,94.4,4.4547,4.0,307.0,21.0,387.94,12.80,18.4
29,1.00245,0.0,8.14,0.0,0.538,6.674,87.3,4.2390,4.0,307.0,21.0,380.23,11.98,21.0
30,1.13081,0.0,8.14,0.0,0.538,5.713,94.1,4.2330,4.0,307.0,21.0,360.17,22.60,12.7
31,1.35472,0.0,8.14,0.0,0.538,6.072,100.0,4.1750,4.0,307.0,21.0,376.73,13.04,14.5
32,1.38799,0.0,8.14,0.0,0.538,5.950,82.0,3.9900,4.0,307.0,21.0,232.60,27.71,13.2
33,1.15172,0.0,8.14,0.0,0.538,5.701,95.0,3.7872,4.0,307.0,21.0,358.77,18.35,13.1
34,1.61282,0.0,8.14,0.0,0.538,6.096,96.9,3.7598,4.0,307.0,21.0,248.31,20.34,13.5
35,0.06417,0.0,5.96,0.0,0.499,5.933,68.2,3.3603,5.0,279.0,19.2,396.90,9.68,18.9
36,0.09744,0.0,5.96,0.0,0.499,5.841,61.4,3.3779,5.0,279.0,19.2,377.56,11.41,20.0
37,0.08014,0.0,5.96,0.0,0.499,5.850,41.5,3.9342,5.0,279.0,19.2,396.90,8.77,21.0
38,0.17505,0.0,5.96,0.0,0.499,5.966,30.2,3.8473,5.0,279.0,19.2,393.43,10.13,24.7
39,0.02763,75.0,2.95,0.0,0.428,6.595,21.8,5.4011,3.0,252.0,18.3,395.63,4.32,30.8
40,0.03359,75.0,2.95,0.0,0.428,7.024,15.8,5.4011,3.0,252.0,18.3,395.62,1.98,34.9
41,0.12744,0.0,6.91,0.0,0.448,6.770,2.9,5.7209,3.0,233.0,17.9,385.41,4.84,26.6
42,0.14150,0.0,6.91,0.0,0.448,6.169,6.6,5.7209,3.0,233.0,17.9,383.37,5.81,25.3
43,0.15936,0.0,6.91,0.0,0.448,6.211,6.5,5.7209,3.0,233.0,17.9,394.46,7.44,24.7
44,0.12269,0.0,6.91,0.0,0.448,6.069,40.0,5.7209,3.0,233.0,17.9,389.39,9.55,21.2
45,0.17142,0.0,6.91,0.0,0.448,5.682,33.8,5.1004,3.0,233.0,17.9,396.90,10.21,19.3
46,0.18836,0.0,6.91,0.0,0.448,5.786,33.3,5.1004,3.0,233.0,17.9,396.90,14.15,20.0
47,0.22927,0.0,6.91,0.0,0.448,6.030,85.5,5.6894,3.0,233.0,17.9,392.74,18.80,16.6
48,0.25387,0.0,6.91,0.0,0.448,5.399,95.3,5.8700,3.0,233.0,17.9,396.90,30.81,14.4

In [44]:
df2.shape #ds2.fillna(method = 'ffill') fills the empty  cells from the just above cells values
# similarly there is a bfill which fills the values from the downcell

(49, 14)

In [ ]:
#df['column name'].fillna(value=df['physics'].mean()) this function fills the mean value at the empty cells of the particular column selected

In [4]:
df2 = ds2.replace( to_replace= 0.0 , value=0.99999)
df2

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.00000,2.31,0.99999,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.99999,7.07,0.99999,NaN,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.99999,7.07,0.99999,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.99999,2.18,0.99999,0.458,6.998,45.8,NaN,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.99999,2.18,0.99999,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.99999,2.18,NaN,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.50000,7.87,0.99999,0.524,NaN,66.6,5.5605,5.0,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.50000,7.87,0.99999,NaN,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,NaN,27.1
8,0.21124,12.50000,7.87,0.99999,0.524,5.631,100.0,NaN,5.0,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.50000,7.87,0.99999,0.524,NaN,85.9,6.5921,5.0,311.0,15.2,386.71,17.10,18.9
10,0.22489,12.50000,7.87,0.99999,0.524,6.377,94.3,6.3467,5.0,311.0,15.2,392.52,20.45,NaN
11,0.11747,12.50000,7.87,0.99999,0.524,6.009,82.9,6.2267,5.0,311.0,15.2,396.90,13.27,18.9
12,0.09378,12.50000,7.87,0.99999,0.524,NaN,39.0,5.4509,5.0,311.0,15.2,390.50,15.71,21.7
13,0.62976,0.99999,8.14,0.99999,0.538,5.949,61.8,4.7075,4.0,307.0,21.0,396.90,8.26,20.4
14,0.63796,0.99999,8.14,0.99999,NaN,6.096,84.5,4.4619,4.0,307.0,21.0,380.02,10.26,18.2
15,0.62739,0.99999,8.14,0.99999,0.538,5.834,56.5,4.4986,NaN,307.0,21.0,395.62,8.47,19.9
16,1.05393,0.99999,8.14,0.99999,0.538,5.935,29.3,4.4986,4.0,307.0,NaN,386.85,6.58,23.1
17,0.78420,0.99999,8.14,0.99999,0.538,5.990,81.7,4.2579,4.0,307.0,21.0,NaN,14.67,17.5
18,0.80271,0.99999,8.14,0.99999,0.538,5.456,36.6,3.7965,4.0,307.0,21.0,288.99,11.69,20.2
19,0.72580,0.99999,8.14,0.99999,0.538,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28,18.2
20,1.25179,0.99999,8.14,0.99999,0.538,5.570,NaN,3.7979,4.0,307.0,21.0,376.57,21.02,NaN
21,0.85204,0.99999,8.14,0.99999,0.538,5.965,NaN,4.0123,4.0,307.0,21.0,392.53,13.83,19.6
22,1.23247,0.99999,8.14,0.99999,0.538,6.142,91.7,3.9769,4.0,NaN,21.0,396.90,18.72,15.2
23,0.98843,0.99999,8.14,0.99999,0.538,NaN,100.0,4.0952,4.0,307.0,21.0,394.54,19.88,14.5
24,0.75026,0.99999,8.14,0.99999,0.538,5.924,94.1,4.3996,NaN,307.0,21.0,394.33,NaN,15.6
25,0.84054,0.99999,NaN,NaN,0.538,5.599,85.7,4.4546,4.0,307.0,21.0,303.42,16.51,13.9
26,0.67191,0.99999,8.14,0.99999,0.538,5.813,90.3,4.6820,4.0,307.0,21.0,376.88,14.81,16.6
27,0.95577,0.99999,8.14,0.99999,0.538,6.047,88.8,4.4534,4.0,307.0,21.0,306.38,17.28,14.8
28,0.77299,0.99999,8.14,0.99999,0.538,6.495,94.4,4.4547,4.0,307.0,21.0,387.94,12.80,18.4
29,1.00245,0.99999,8.14,0.99999,0.538,6.674,87.3,4.2390,4.0,307.0,21.0,380.23,11.98,21.0
30,1.13081,0.99999,8.14,0.99999,0.538,5.713,94.1,4.2330,4.0,307.0,21.0,360.17,22.60,12.7
31,1.35472,0.99999,8.14,0.99999,0.538,6.072,100.0,4.1750,4.0,307.0,21.0,376.73,13.04,14.5
32,1.38799,0.99999,8.14,0.99999,0.538,5.950,82.0,3.9900,4.0,307.0,21.0,232.60,27.71,13.2
33,1.15172,0.99999,8.14,0.99999,0.538,5.701,95.0,3.7872,4.0,307.0,21.0,358.77,18.35,13.1
34,1.61282,0.99999,8.14,0.99999,0.538,6.096,96.9,3.7598,4.0,307.0,21.0,248.31,20.34,13.5
35,0.06417,0.99999,5.96,0.99999,0.499,5.933,68.2,3.3603,5.0,279.0,19.2,396.90,9.68,18.9
36,0.09744,0.99999,5.96,0.99999,0.499,5.841,61.4,3.3779,5.0,279.0,19.2,377.56,11.41,20.0
37,0.08014,0.99999,5.96,0.99999,0.499,5.850,41.5,3.9342,5.0,279.0,19.2,396.90,8.77,21.0
38,0.17505,0.99999,5.96,0.99999,0.499,5.966,30.2,3.8473,5.0,279.0,19.2,393.43,10.13,24.7
39,0.02763,75.00000,2.95,0.99999,0.428,6.595,21.8,5.4011,3.0,252.0,18.3,395.63,4.32,30.8
40,0.03359,75.00000,2.95,0.99999,0.428,7.024,15.8,5.4011,3.0,252.0,18.3,395.62,1.98,34.9
41,0.12744,0.99999,6.91,0.99999,0.448,6.770,2.9,5.7209,3.0,233.0,17.9,385.41,4.84,26.6
42,0.14150,0.99999,6.91,0.99999,0.448,6.169,6.6,5.7209,3.0,233.0,17.9,383.37,5.81,25.3
43,0.15936,0.99999,6.91,0.99999,0.448,6.211,6.5,5.7209,3.0,233.0,17.9,394.46,7.44,24.7
44,0.12269,0.99999,6.91,0.99999,0.448,6.069,40.0,5.7209,3.0,233.0,17.9,389.39,9.55,21.2
45,0.17142,0.99999,6.91,0.99999,0.448,5.682,33.8,5.1004,3.0,233.0,17.9,396.90,10.21,19.3
46,0.18836,0.99999,6.91,0.99999,0.448,5.786,33.3,5.1004,3.0,233.0,17.9,396.90,14.15,20.0
47,0.22927,0.99999,6.91,0.99999,0.448,6.030,85.5,5.6894,3.0,233.0,17.9,392.74,18.80,16.6
48,0.25387,0.99999,6.91,0.99999,0.448,5.399,95.3,5.8700,3.0,233.0,17.9,396.90,30.81,14.4

In [ ]:
#ds2.replace('[A-Za-z]', 0 ,regex = True) 
#this will replace all the string char to the defined value

In [6]:
index_col = ['CRIM'] #in this way you'll get the new index col value 
ds2.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,NaN,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7

In [11]:
ds2.loc[1] #this gives the data of the desired line 
#but ds2.loc() gives the data of the address place of the dataset.

CRIM         0.02731
ZN           0.00000
INDUS        7.07000
CHAS         0.00000
NOX              NaN
RM           6.42100
AGE         78.90000
DIS          4.96710
RAD          2.00000
TAX        242.00000
PTRATIO     17.80000
B          396.90000
LSTAT        9.14000
MEDV        21.60000
Name: 1, dtype: float64

In [15]:
ds2.loc[ds2['TAX']>310] 
#THIS WWAY WE CAN get >,< for all the values

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
6,0.08829,12.5,7.87,0.0,0.524,NaN,66.6,5.5605,5.0,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0.0,NaN,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,NaN,27.1
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,NaN,5.0,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0.0,0.524,NaN,85.9,6.5921,5.0,311.0,15.2,386.71,17.10,18.9
10,0.22489,12.5,7.87,0.0,0.524,6.377,94.3,6.3467,5.0,311.0,15.2,392.52,20.45,NaN
11,0.11747,12.5,7.87,0.0,0.524,6.009,82.9,6.2267,5.0,311.0,15.2,396.90,13.27,18.9
12,0.09378,12.5,7.87,0.0,0.524,NaN,39.0,5.4509,5.0,311.0,15.2,390.50,15.71,21.7

In [ ]:
#iloc[] is the function which provides the data from the index row same as the loc[]

hellogrp = ds2.groupby(by = ['Branch', 'Scetion'])
hellogrp.groups this prints the grouped data

In [24]:
dataf1 = pd.DataFrame({'Roll no ':[1,2,3,4,5], 'Chemistry': [24,54,56,67,78]})
dataf1

   Roll no   Chemistry
0         1         24
1         2         54
2         3         56
3         4         67
4         5         78

In [25]:
dataf2 = pd.DataFrame({'Roll no ':[1,2,3,4,5], 'Physics': [224,534,546,657,768]})
dataf2

   Roll no   Chemistry
0         1        224
1         2        534
2         3        546
3         4        657
4         5        768

In [21]:
pd.merge(dataf1 , dataf2, on = 'Roll no')

KeyError: 'Roll no'